body {

    background-color: rgb(118, 148, 148);
}

.logo-alura{

    left: 20px;
    top: 20px;
    position: absolute;
    width: 35px;
    height: 35px;
}


.quadro{

    position: absolute;
    left: 350px;
    top: 100px;
    background-color: #F3F5FC;

    width: 800px;
    height: 500px;
    border-radius: 0px;
}

.coder{

    position: absolute;
    top: 70px;
    left: 100px;
}

.decoder{

    position: absolute;
    left: 500px;
    top: 70px;

}

.codificador {

    resize: none;
    height: 250px;
    width: 340px;
    border-radius: 15px;
    border: 0;
    color: #0A3871;
    background-color: #F3F5FC;

    font-size: 15px;
    
    

}



#botao-codificar{

    position: relative;
    top: 50px;
    right: 280px;

    width: 200px;
    height: 40px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    border: #0A3871;



}

.descodificador{
    color: #0A3871;
    font-size: 15px;
    resize: none;
    height: 350px;
    width: 250px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08)
    
  
}

#botao-descodificar{


}

textarea:focus {

    box-shadow: 0 0 0 0;
    outline: 0;
}

