body {

    background-color: #b6b8be;

}

.logo-alura{

    left: 20px;
    top: 20px;
    position: absolute;
    width: 35px;
    height: 35px;
    
}


.quadro{
    
    position: absolute;
    left: 280px;
    top: 100px;
    background-color: #F3F5FC;
    right: 200px;

    width: 800px;
    height: 500px;
    border-radius: 5px;
    font-family: Verdana;
}


.coder{

    position: absolute;
    top: 70px;
    left: 100px;
}

.decoder{

    position: absolute;
    left: 500px;
    top: 70px;

}

.codificador {

    resize: none;
    height: 250px;
    width: 340px;
    padding: 10px 10px;
    border-radius: 15px;
    border: 0;
    color: #0A3871;
    background-color: #F3F5FC;

    font-size: 15px;
    
    

}



#botao-codificar{

    position: absolute;
    top: 300px;
    right: 100px;

    width: 200px;
    height: 40px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    border: #0A3871;
    font-family: Verdana;



}

#botao-codificar:hover {

    box-shadow: inset 0 0 0 1px #0A3871;
    color: #0A3871;
    background-color: rgba(0,0,0,0)
    
    
}

.descodificador{
    color: #0A3871;
    font-size: 15px;
    padding: 10px 10px;
    resize: none;
    height: 350px;
    width: 250px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08)
    
  
}

#botao-descodificar{

    position: absolute;
    right: 30px;
    top: 300px;
    width: 200px;
    height: 40px;
    border-radius: 24px;
    background-color: white;
    color: #0A3871;
    border: 1px solid #0A3871;
    font-family: Verdana;
    

}

.botao-copiar{

    position: absolute;
    right: 10px;
    top: 335px;
    color: #0A3871;
}



#botao-descodificar:hover{

    background-color: #F3F5FC;
}

textarea:focus {

    box-shadow: 0 0 0 0;
    outline: 0;
}

.img-regra{

    position: absolute;
    right: 330px;
    top: 270px;

    
}

.aviso {

    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    
    color: #495057;
    opacity: 0.8;

    position: absolute;
    left: 35px;
    top: 258px;  

    
}